*{
    margin: 5px;
    padding: 1px;


}

.bodyM{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.div01{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 50px;
    background-color: gray; 
    width: 600px;
    height: 650px;
    margin: 20px;

}
h4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}



/* .div01-C{
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

#imgIMG01{
    border: 0px solid black;
    border-radius: 50px;
    height: 200px;
    width: 460px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.h3h401{
    margin-left: 100px;
    margin-right: 50px;
    border: solid black 1px;
    border-radius: 60px;
    padding: 5px;
    background-color: black;
    color: white;
}

.img02{
    width: 150px;
    border: solid black 10px;
    border-radius: 150px;
    background-color: rgb(231, 228, 19);
    height: 150px;


}
.headercadastro{
    border: solid black;
    background-color: rgb(146, 107, 35);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.Menu{    
    display: flex;
    justify-content: center;
    align-items: center;}
.input01{
    width: 100%;
    height: 100%;
}

.inputss1{
    /* border: 2px double black;
    border-radius: 10px; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: transform 3s ease-in-out;
    
    /* outline: 100%; */
}

.inputss1:hover{
    /* background-color: brown; */
    color: whitesmoke;
    background-color: black;
    scale: 1.5;
}

.inputss1:hover::placeholder{
    color: whitesmoke;
}
.cad01{

    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px ridge rgb(146, 76, 35);
    border-radius: 50px;
    background-color:rgb(146, 107, 35);
}
.B01{
    width: 300px;
    border: 2px dashed black;
    border-radius: 100px;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.B01:hover{
    width: 350px;
    height: 75px;
    font-size: 25px;
}
i{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    color: rgb(5, 5, 82);
}
input{
    background-color: burlywood;
    border-radius: 20px;
    border: 1px dashed brown;
}
#IMG01{
    background-color: burlywood;
    border-radius: 20px;
    border: 1px dashed brown;
}

#IMG01:hover{
    background-color: black;
}
#link:hover{
    background-color: black;
}
#link{
    background-color: burlywood;
    border-radius: 20px;
    border: 1px dashed brown;
}



.B02{
    width: 300px;
    border: 2px dashed white;
    border-radius: 100px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:white;
    padding: 10px;
}

.div_filtro{
    border-top: 5px ridge burlywood;
    border-bottom: 2px solid brown;
    border-bottom-right-radius: 50px ;
    border-top-left-radius:50px ;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 800px;
    /* height: 100px; */
}
.div_filtro input:hover::placeholder{
    color: whitesmoke;
}
.div_filtro input:hover{
    background-color: black;
    scale: 1.5;
    color: whitesmoke;

}

.div_filtro > i{
    font-size: 20px;
}
#limpar_filtro > i{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(5, 5, 82);
}